*{
    margin-bottom: 10px;
    padding: 0;
}

.imagens{
    display: flex;
    flex-direction: row;
    height: 120px;
    
}

.imagens img{
    opacity: 0.5;
    margin-right: 5px;
}

.imagens img:hover{
    opacity: 1;
}

.paragrafos2{
    background-color: green;
}