span{
    color: brown;
}

.div1{
    background-color: turquoise ;
    
}
.div2{
    background-color:   tomato ;
}
.div3{
    background-color: yellowgreen ;
}
.div4{
    background-color: gainsboro;
}
.div5{
    background-color: red;
}
