

div{
    width: 60%;
}

.container{
    width: 80%;
    
}

p{
    text-align: center;
    margin-right: 0px;
    margin-left: auto;
    padding: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.p1{
    background-color: green;
    width: 60vw;

}

.p2{
    background-color: rgb(17, 191, 17);
    width: 50vw;
}

.p3{
    background-color: rgb(6, 225, 6);
    width: 40vw;
}

.p4{
    background-color: rgb(92, 245, 92);
    width: 30vw;
}

.p5{
    background-color: rgb(143, 247, 143);
    width: 20vw;
}

.p6{
    background-color: rgb(185, 255, 185);
    width: 10vw;
}